@charset "utf-8";
body {
    margin: 0px;
    background: url(../img/page-bg.png) no-repeat 50%/100% 100%;
    background-size: 100% auto;
}

.PlayEy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: url(../img/bg_circle.png),url(../img/bg_center.png) no-repeat center;
    background-size: 100%
 auto;

}

.Btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95px;
	height: 95px;
	/* background-color: yellow; */
	/* background: url(../img/btn-bg.png) no-repeat; */
	animation: Btn-bg 3s linear infinite;
}

.Play {
	position: absolute;
	width: 29px;
	height: 36px;
	background: red;
	background: url(../img/pause.png) no-repeat;
	transition: .5s;
}

 .btns-bg {
	/*position: relative;
	top: -30px;
	left: 5px; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto;
	width: 100px;
	height: 100px;
}

@keyframes Btn-bg {
	from {}
	to {
		transform: rotate(360deg);
	}
}